*.bak
Arrays/.vs/
Arrays/Arrays/bin/
Arrays/Arrays/obj/

Backtracking/.vs/
Backtracking/Backtracking/bin/
Backtracking/Backtracking/obj/

BitManipulations/.vs/
BitManipulations/BitManipulations/bin/
BitManipulations/BitManipulations/obj/

Dinamic programming/.vs/
Dinamic programming/Dinamic programming/bin/
Dinamic programming/Dinamic programming/obj/

Hashing/.vs/
Hashing/Hashing/bin/
Hashing/Hashing/obj/

HeapsAndMaps/.vs/
HeapsAndMaps/HeapsAndMaps/bin/
HeapsAndMaps/HeapsAndMaps/obj/